<div class="top">
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand" href="https://github.com/nglibrary/ngx-choosy">@nglibrary/ngx-choosy</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://nglibrary.github.io/ngx-choosy-documentation/">Documentation</a></li>
        <li><a href="https://github.com/nglibrary/ngx-choosy/issues">Issues?</a></li>
        <li><a href="#">Twitter</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>

  <div class="container" id="mass">
    <h1>ngx-choosy</h1>
    <p>A friendly selectbox and dropdown directive for Angular 4+</p>
    <div class="actions">
      <button class="btn btn-primary"> Github</button>
      <button class="btn btn-default">Documentation</button>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-3">

        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of menu" [ngClass]="{'current':item.name=='Demo'}">
            <span>{{item.name}}</span> <i data-feather="chevron-right"></i></li>
        </ul>

      </div>
      <div class="col-md-9">
        <div id="content">
          <h1>Basic demo</h1>
          <p>
            <strong>ngx-choosy</strong> turns any input element in to a dropdown select box. Thus, it does not apply any
            styles to your input. It also gives a freedom to style your input fields to your needs.
          </p>
          <br/>
          <div class="example">
            <h2><i data-feather="play"></i> Single select dropdown</h2>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                  <input type="text" placeholder="choose" class="form-control" choosySingleSelect [options]="universities" />
                </div>
              </div>
            </div>
          </div>
          <div class="example">
            <h2><i data-feather="play"></i>With animation and without search/footer</h2>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                  <input type="text" placeholder="choose" class="form-control" choosySingleSelect [options]="universities" [config]="{search:{enable:false},footer:{enable:false},dropdown:{animation:true}}"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="example">
            <h2><i data-feather="play"></i> Custom template</h2>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="sr-only" for="exampleInputAmount">Colors</label>
                  <div class="input-group">
                    <input type="text" placeholder="choose" class="form-control" choosySingleSelect [options]="addresses" [config]="{displayValue:'street',search:{keys:['value.street','value.country']}}"
                      [template]="add" (isOpen)="foobar=$event" (choosy)="addressEvent($event)" />
                    <div class="input-group-addon" (click)="openAddressDd($event)">
                      <i class="fa" [ngClass]="{'fa-angle-up':foobar,'fa-angle-down':!foobar}"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template let-item #add>
  <div><strong>{{item.street}}</strong></div>
  <div>{{item.city}} &middot; {{item.country}}</div>
</ng-template>
